.thumbnail {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    cursor: pointer;
}

.thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

@media (max-width: 768px) {
    .thumbnail {
        padding-bottom: 150%;
    }
}
.col-xs-12,
.col-sm-6,
.col-md-4,
.col-lg-3 {
  border: 2px solid #039590;
}