{% extends 'base_template.html' %}

{% block csslink %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dia/analytics.css') }}">
{% endblock %}

{% block mainbody %}
{% if session['file_name'] is not none %}

    <button class="mini-card" id="file-cards" onclick="redirectToPHash()">
        <div class="mini-card-logo"><i class="fa-solid fa-equals"></i></div>
        <div class="mini-card-title" id="file_name">Perceptual Hashing</div>
        <div class="mini-card-details">This generates a hash of each image based on their visual content, compares them to each other, and returns the pairs that have a similarity of 90% or higher</div>
    </button>

    <button class="mini-card" id="file-cards" onclick="redirectToSSIM()">
        <div class="mini-card-logo"><i class="fa-solid fa-sun"></i></div>
        <div class="mini-card-title" id="file_name">SSIM</div>
        <div class="mini-card-details">This compares factors in the images such as contrast and luminance, and returns the pairs that have a similarity of 90% or higher</div>
    </button>

    <button class="mini-card" id="file-cards" onclick="redirectToSteg()">
        <div class="mini-card-logo"><i class="fa-solid fa-eye-slash"></i></div>
        <div class="mini-card-title" id="file_name">Steganography Analysis</div>
        <div class="mini-card-details">This sends the images through Aperi'Solve, a web application that can be used to perform steganography analysis</div>
    </button>

    <button class="mini-card" id="file-cards" onclick="redirectToMetadata()">
        <div class="mini-card-logo"><i class="fa-solid fa-circle-info"></i></div>
        <div class="mini-card-title" id="file_name">Metadata Extraction</div>
        <div class="mini-card-details">This sends the images through ExifTool, which returns and displays the extracted metadata of the supported files</div>
    </button>

    <button class="mini-card" id="file-cards" onclick="redirectToIPInfo()">
        <div class="mini-card-logo"><i class="fa-solid fa-globe"></i></div>
        <div class="mini-card-title" id="file_name">IP Information</div>
        <div class="mini-card-details">This sends the IP address extracted earlier, through WhoIs, which returns and displays the further information about the IPs that are available to the general public</div>
    </button>

    <script>
        function redirectToPHash() {
            var url = "/dia_phash";
            window.location.href = url;
        }
        function redirectToSSIM() {
            var url = "/dia_ssim";
            window.location.href = url;
        }
        function redirectToSteg() {
            var url = "/dia_steg";
            window.location.href = url;
        }
        function redirectToMetadata() {
            var url = "/dia_metadata";
            window.location.href = url;
        }
        function redirectToIPInfo() {
            var url = "/dia_ipinfo";
            window.location.href = url;
        }
    </script>

{% else %}
    <h1>Hello</h1>
{% endif%}
{% endblock %}