<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> DigiForLooker </title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/favicons/site.webmanifest') }}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_template.css') }}">
    <script src="https://kit.fontawesome.com/9398afa8b6.js" crossorigin="anonymous"></script>
    {% block csslink %}{% endblock %}
  </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-python'></i>
      <span class="logo_name">DigiForLooker</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/">
          <i class="fa-solid fa-house"></i>
          <span class="link_name">Home</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/">Home</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class="fa-solid fa-hard-drive"></i>
            <span class="link_name">Disk Image</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Disk Image Analysis</a></li>
          <li><a href="/dia_upload">Upload</a></li>
          <li><a href="/dia_dashboard">Dashboard</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="/dia_gallery">Gallery</a></li>
          <li><a href="/dia_hash">Hash Table</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class="fa-solid fa-memory"></i>
            <span class="link_name">RAM Dump</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">RAM Dump Analysis</a></li>
          <li><a href="#">Upload</a></li>
          <li><a href="/mda_dashboard">Dashboard</a></li>
          <li><a href="#">Analytics</a></li>
        </ul>
      </li>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <div class="search-bar">
        <div class="search_wrap search_wrap_1">
          <div class="search_box">
            <input type="text" class="input" placeholder="search...">
            <div class="btn btn_common">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="form-box">
        <div class="button-box">
          <div id="btn"></div>
          <button type="button" class="toggle-btn" onclick="leftClick()"><i class="fa-solid fa-hard-drive"></i></button>
          <button type="button" class="toggle-btn" onclick="rightClick()"><i class="fa-solid fa-memory"></i>
        </div>
      </div>
    </div>
    <br>
    {% block mainbody %}{% endblock %}

  </section>
  <script src="{{ url_for('static', filename='js/base_template.js') }}"></script>
  {% block jslink %}{% endblock %}
  
</body>
</html>